/* Start part 1 rules*/

article {
    margin: 20px auto 20px;
    padding: 0px;
    border: 1px solid blue;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font-family: sans-serif;
    background-clip: border-box;
    background-color: #def;
    width: 80%;
    overflow-x: hidden;
}

/* Start part 2 rules*/

#header {
    padding: 15px 5px 40px;
    background-color: SkyBlue !important;
    background-clip: border-box;
}

.content {
    display: flex;
    width: 100%;
}

h1 {
    font-size: xx-large;
}

.menu {
    float: left;
    position: fixed;
    position: -webkit-sticky;
    padding: 20px 15px 10px;
    background-color: #def;
    width: 20%;
}

.main {

    background-color: #fed;
    float: none;
    position: relative;
    min-width: 560px;
    width: 60%;
    margin-left: 20%;
    margin-right: 1%;
    padding: 20px 2em 20px;


}

@media all and (max-width: 750px) {
    article {
        margin: 1px auto 1px;
        width: 95%;
    }
    .menu {
        padding: 2px;
        width: 90px;
    }
    #clear {
        clear: none !important;
    }
    .main {
        width: 400px;
        float: left;
    }
    aside {
        float: left;
        width: 100%;
        position: absolute;
    }
}


aside {
    float: left;
    background: #def;
    padding-left: 1em;
    width: 20%;

}

#clear {
    clear: both;
}

/* Start part 4 rules*/

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: underline;
}

/* Start part 5 rules*/

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    margin: 1px;
    color: black;

}

table {
    width: 80%;
    margin: auto;
}

.even {
    background-color: orange;
}

th:hover,
tr:hover,
td:hover {
    background-color: purple;
    color: white;
}

#MyPhoto {
    float: right;
    margin: -25px 10px 10px 10px;
    padding: 10px;
    clear: both;

}
